{
  "extends": ["react-app", "eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react"],
  "rules": {
    "prettier/prettier": "error",
    "react/prop-types": 0,
    "import/order": [
      2,
      {
        "groups": ["external", "builtin", "index", "sibling", "parent", "internal", "type"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true,
        },
        "newlines-between": "always-and-inside-groups",
      },
    ],
  },
}
