{
  "printWidth": 120,
  "max-len": ["error", 140, 2],
  "tabWidth": 2,

  "tabs": false,
  "semi": true,

  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",

  "bracketSpacing": false,
  
  "trailingComma": "all",
  
  "arrowParens": "always",

  "endOfLine": "auto"
}
